Name: <br>
{{input type="text" value=author }}  <br>
Comment: <br>
{{textarea value=text cols="80" rows="6"}} <br>
<button {{action "postComment" }} type="submit" type="button" class="btn btn-default btn-sm">Submit</button>
